:root {
    --branco: #fff;
    --cinza: #F5F5F5;
    --azul-claro: #eaf2fd;
    --azul-100: #2A7AE4;
    --preto-50: #A2A2A2;
}

.header {
    background: var(--branco);
    display: flex;
    height: 72px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header__nav__logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
}

.nav__logo {
    width: 1rem;
    flex-shrink: 0;
}

.nav__texto {
    width: 4.475rem;
    height: .6475rem;
    flex-shrink: 0;
}

.header__nav__pesquisa {
    display: none;
}

.header__pesquisa--input {
    display: none;
}

.btn__login__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    padding: 0.75rem 1rem;
    font-family: 'Raleway';
    font-size: .875rem;
    font-weight: 600;
    cursor: pointer;
    width: 6.2rem;
    background-color: transparent;
    transition: ease-out .5ms;
    background: none;
    border: 1px solid var(--azul-100);
    color: var(--azul-100);
    display: flex;
    font-weight: 400;
    justify-content: center;
    font-size: 16px;
    padding: 1rem;
    cursor: pointer;
}

.btn__login__header:hover {
    color: var(--branco);
    background-color: var(--azul-100);
}

@media screen and (min-width: 768px){

    .header {
        padding: 1rem 2rem;
        
    }

    .header__nav__pesquisa {
        display: flex;
        width: 17rem;
        background: var(--cinza);
        padding: .5rem 1rem;
        border-radius: 20px;
        align-items: center;
        gap: .5rem;
    }
    
    .header__pesquisa--input {
        display: flex;
        background: none;
        border: none;
        color: var(--preto-50);
        outline: none;
        align-items: flex-start;
        flex: 1 0 0;
    }

    .header__pesquisa__img {
        cursor: pointer;
    }

    .header__img {
        display: none;
    }

    .btn__login__header {
        width: 10.375rem;
    }

}

@media screen and (min-width: 1024px){

    .header__nav__logo img {
        padding-right: 110px;
        width: 200px;
    }

    .nav__texto {
        width: 126px;
    }

    .header__nav__pesquisa {
        width: 383px;
        background-color: var(--cinza);
    }

}

@media screen and (min-width: 1440px){

    .header {
        margin: 0 auto;
        max-width: 1133px;
    }
    
}