<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="stylesheet" href="../assets/css/header/header.css" />
    <link rel="stylesheet" href="../assets/css/criaProduto-form/criaProduto-form.css" />
    <link rel="stylesheet" href="../assets/css/footer/footer.css" />
    <title>Alura Geek - Criar produto</title>
</head>

<body>
    <header class="header" id="header">

        <nav class="header__nav">

            <div class="header__nav__logo">
                <a class="nav__logo" href="../index.html"><img src="../assets/img/header/logo.png"
                    alt="Controle de videogame azul e texto Alura Geek">
                </a>
            </div>

            <div class="header__nav__pesquisa">
                <input class="header__pesquisa--input" placeholder="O que você deseja encontrar?" type="text"
                    id="input__pesquisa">
                <a class="btn__pesquisa__img" href="#"><img class="header__pesquisa__img" src="../assets/img/header/lupa.svg"
                    alt="Lupa">
                </a>
            </div>

        </nav>
        <a href="./adm.html" class="btn__login__header">Menu administrador</a>
        <a class="lupa__img" href="#"><img class="header__pesquisa__img" src="../assets/img/header/lupa.svg" alt="Lupa"></a>
    </header>
    <main>
        
        <!-- secao do form de criacao do novo produto -->
        <section class="form__criaProduto__container">
            <div class="form__criaProduto__content">
                <h2 class="form__criaProduto__title">Adicionar novo produto</h2>
                <form data-form>

                    <div class="form__criaProduto__fields">
                        
                        <div class="form__criaProduto__field">

                            <label for="imgUrl" class="form__criaProduto__label">URL da imagem</label>
                            <input 
                                class="form__criaProduto__input" 
                                type="text" 
                                name="imgUrl" 
                                autocomplete="off" 
                                required 
                                id="imgUrl"
                                data-imageUrl
                            />
                        </div>
                    
                        <div class="form__criaProduto__field">

                            <label for="categoriaProduto" class="form__criaProduto__label">Categoria</label>
                            <select id="categoriaProduto" name="categoriaProduto" class="form__criaProduto__input" required data-categoria>
                                <option value=""></option>
                                <option value="starWars">Star-wars</option>
                                <option value="consoles">Consoles</option>
                                <option value="diversos">Diversos</option>
                            </select>
                        </div>
                    
                        <div class="form__criaProduto__field">

                            <label for="nomeProduto" class="form__criaProduto__label">Nome do produto</label>
                            <input 
                                class="form__criaProduto__input" 
                                type="text" 
                                id="nomeProduto"
                                name="nomeProduto" 
                                autocomplete="off" 
                                maxlength="20" 
                                required 
                                data-nome
                            >
                        </div>
                        
                        <div class="form__criaProduto__field">

                            <label for="precoProduto" class="form__criaProduto__label">Preço do produto</label>
                            <input 
                                class="form__criaProduto__input" 
                                type="number"
                                id="precoProduto" 
                                name="precoProduto" 
                                autocomplete="off" 
                                required 
                                data-preco
                            />
                        </div>
                    
                        <div class="form__criaProduto__field">

                            <label for="descricaoProduto" class="form__criaProduto__label">Descrição do produto</label>
                            <input 
                                class="form__criaProduto__input" 
                                type="text" 
                                id="descricaoProduto"
                                name="descricaoProduto" 
                                autocomplete="off" 
                                maxlength="150" 
                                required 
                                data-descricao
                            />
                        </div>
                    </div>

                    <button class="form__criaProduto__btn" type="submit">Adicionar Produto</button>

                </form>
            </div>
        </section>

    </main>
    <footer>
        <!--Rodape dinâmico-->
    </footer>
    <div class="dev">
        <p>Desenvolvido por Claudio Matheus</p>
        <p>2023</p>
    </div>
</body>
<script type="module" src="../assets/js/controllers/cria-produtos-controllers.js"></script>
<script src="../assets/js/criaRodape.js"></script>
</html>