<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="stylesheet" href="../assets/css/header/header.css" />
    <link rel="stylesheet" href="../assets/css/login-form/login-form.css" />
    <link rel="stylesheet" href="../assets/css/footer/footer.css" />
    <title>Alura Geek - login</title>
</head>

<body>
    <header class="header" id="header">

        <nav class="header__nav">

            <div class="header__nav__logo">
                <a class="nav__logo" href="../index.html"><img src="../assets/img/header/logo.png"
                    alt="Controle de videogame azul e texto Alura Geek">
                </a>
            </div>

            <div class="header__nav__pesquisa">
                <input class="header__pesquisa--input" placeholder="O que você deseja encontrar?" type="text"
                    id="input__pesquisa">
                <button class="btn__pesquisa__img"><img class="header__pesquisa__img" src="../assets/img/header/lupa.svg"
                    alt="Lupa">
                </button>
            </div>

        </nav>
    </header>
    <main>
        
        <!-- secao do form de login -->
        <section class="form-login">
            <div class="form__content">
                <h2 class="form__login__title">Iniciar Sessão</h2>
                <form class="form__content" data-form>

                    <div class="form__login__field">
                        <input 
                            class="form__login__input" 
                            placeholder="Escreva seu email" 
                            type="email" 
                            id="email" 
                            data-email
                        >
                    </div>

                    <div class="form__login__field">
                        <input 
                            class="form__login__input" 
                            type="password" 
                            placeholder="Escreva sua senha" 
                            minlength="3" 
                            id="senha"
                            maxlength="100"
                            data-password
                        >
                    </div>
                    <span class="mensagem-erro"></span>

                    <button class="form__login__btn" type="submit">Entrar</button>

                </form>
            </div>
        </section>

    </main>
    <footer>
        <!--Rodape dinâmico-->
    </footer>
    <div class="dev">
        <p>Desenvolvido por Claudio Matheus</p>
        <p>2023</p>
    </div>
</body>
<script src="../assets/js/login.js"></script>
<script type="module" src="../assets/js/controllers/pesquisaProduto.js"></script>
<script src="../assets/js/criaRodape.js"></script>
</html>