.form__criaProduto__container {
    background-color: var(--preto-30);
}

.form__criaProduto__content {
    font-family: var(--fonte-padrao);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 16px;
    gap: 16px;
}

.form__criaProduto__title {
    color: var(--preto-100);
    font-size: 22px;
    font-weight: 700;
}

.form__criaProduto__content form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-padrao);
    gap: 16px;
}

.form__criaProduto__content .form__criaProduto__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form__criaProduto__fields .form__criaProduto__field {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    gap: 4px;
    padding: 6px 12px;
    background-color: var(--branco);
    font-family: var(--fonte-padrao);
    position: relative;
    border-bottom: 2px solid var(--preto-50);
}

.form__criaProduto__field .form__criaProduto__label {
    color: var(--preto-50);
    font-size: 12px;
    line-height: 16px;
}

.form__criaProduto__field .form__criaProduto__input {
    outline: none;
    border: none;
    color: var(--preto-100);
    line-height: 20px;
    font-size: 16px;
}

.form__criaProduto__content .form__criaProduto__btn {
    border: none;
    color: var(--branco);
    cursor: pointer;
    font-family: var(--fonte-padrao);
    background-color: var(--azul-100);
    font-size: 16px;
    padding: 16px;
}

.form__criaProduto__content .form__criaProduto__btn:hover {
    background-color: var(--azul-80);
}

@media screen and (min-width: 768px){
    .form__criaProduto__content {
        padding: 32px;
    }
    
}

@media screen and (min-width: 1024px){
   .form__criaProduto__content {
    padding: 64px 30vw;
   }

   .form__criaProduto__content .form__criaProduto__title {
    font-size: 32px;
   }
}